<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043350203253-8p0rnvo0optcn1qn0mov9ghgm9qb6j91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043350203253-8p0rnvo0optcn1qn0mov9ghgm9qb6j91</string>
	<key>API_KEY</key>
	<string>AIzaSyCYAKe-ba2yhul_cYOl90l_kHTfp6jG8hc</string>
	<key>GCM_SENDER_ID</key>
	<string>1043350203253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.talke</string>
	<key>PROJECT_ID</key>
	<string>flutter-chate-29</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chate-29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043350203253:ios:15874068ff55364906c13c</string>
</dict>
</plist>